*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
}

.expelled {
    color: red;
    font-weight: bold;
}

.container span {
    color: red;
    font-weight: bold;
}